.drop-hover:hover {
    background-color: rgb(100, 100, 243);
    color: white;
    cursor: pointer;
}

.placemark_layout_container {
    position: relative;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}


/* Round placemark layout */
.circle_layout {
    background-color: white;
    position: absolute;
    left: -23px;
    top: -23px;
    width: 51px;
    height: 51px;
    /* border: 2px solid #225D9C; */
    line-height: 46px;
    /* This CSS property won't work in Internet Explorer 8 */
    border-radius: 50px;
}



.visited_circle_layout {
    background-color: rgb(37, 190, 37);
}

.not_visited_circle_layout {
    background-color: red;
    color: white;
}

.btn-balloon{
    min-height: 50px;
}

/*MEDIA*/


@media all and (min-width: 960px) and (max-width: 1024px) {
    .btn-xl {
        padding: 10px 20px;
        font-size: 6vw;
        border-radius: 10px;
    }
    .list-drop{
        color:rgb(43, 41, 41);
        font-size: 5vw;
        
    }
}
